# Data Science & Python

In [ ]:
print 'Hello World'
print 'Hello python'

# Python language
## introduction to python
### variable

* python language
  * java language 
  * c++ 
  * c#
* python 1
* python 2

#### Markdown practice

# Hello markdown1
## Hello markdown2
### Hello markdown3
#### Hello markdown4

* python 2.7
* python 3.5

```python
s = "Python syntax highlighting"
print s
def add(a, b):
    return a + b
```

> Blockquotes starts
> This line is part of the same quote.

> Good


This is *python*

This is **python**

This is python

[python webpage](https://www.python.org)

[google page](https://google.com)

--- 
 * 이것은 로컬 이미지
![python image](python.png)

---
 * 이것은 웹 이미지
![python image2](https://www.raspberrypi.org/documentation/usage/python/images/python-logo.png)

### Markdown
 - 문서의 구조와 내용을 한번에 정의 
 - 코드를 설명하거나 노트북 파일에 이론적 배경 설명을 위해 사용
 - [마크다운 참고 사이트](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

## Basic data type
* variable declaration & value assignment (변수 선언 및 값 할당)

##### = -> 대입 연산자,  == -> 비교 연산자 
 - 대입의 경우, 오른쪽의 수식이나 값을 evaluation(여기서는 계산이라는 의미로 사용) 한 뒤, 
 - 왼쪽에 명시된 변수에 해당 값을 대입
 - 변수는 해당 값을 가지게 됨

* **comment(주석)**
  - 코드에서 #으로 시작하는 뒷 부분은 실행되지 않음
  - python이 소스코드를 실행하면서 #를 만나면 무시
  - 개발자(사람)가 보기 위한 용도로 사용

In [1]:
a = 10   # int
b = 1000 # int
c = 12.677 # float

d = 'this is python' #문자열 string

# print e
e = True 
f = False # Boolean 주석

g = 1.633e8 # 1.633 * 10^8을 의미

* **print 함수**
  - 해당 변수의 값을 출력
  - , 로 여러 변수를 나열하면 한줄에 출력
  - 기본적으로는 한칸 띄어쓰기 후 출력

In [4]:
print(a, ',', b, ',', c, ',', d)
print(e)
print(f)
print(g)

10 , 1000 , 12.677 , this is python
True
False
163300000.0

* **print함수 설정**
 - sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함
 - end : 마지막에 출력할 문자열

In [7]:
print(a, b, e, d, sep='|', end='?\n')
print(c)

10|1000|True|this is python?
12.677

* **변수 값 확인법**
 - print() 함수 사용
 - 변수 값을 코드의 마지막에 위치 시킨 후 실행
   - 이 경우 output으로 변수의 값이 출력

In [9]:
name = 'aaron'
hobby = 'basketball'

In [11]:
print(name)
print(hobby)

aaron
basketball

In [13]:
name
hobby + 'team'

'basketballteam'

In [14]:
type(a)

int

* **variable naming (변수 이름 규칙)**
  - 숫자로 시작하는 이름을 제외하고 영문 대소문자, _, 숫자로 구성가능 
  - 아래의 예제는 모두 valid한 변수 이름
  - 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
    - 코드를 읽은 것을 더 쉽게 할 수 있음
    - e.g) a = 1000의 경우보다 **student_num = 1000**로 명시한 것이 변수에 대한 이해가 빠름

In [15]:
a = 4
a1 = 5
a_123 = 4545
ABC = 'ABC'
_124 = 'string'
_abc = 'abc'
한글 = "한글"

student_number = 0
print(한글)

한글

* **invalid한 변수 이름의 예**
 - 숫자로 시작하면 안되는 이유는?

In [ ]:
3_abc = 10
3kbb = 11
#3 = 3 => 3으로 시작할 수 있다면 3이란 변수도 만들 수 있다. 그러면 진짜 숫자랑도 헷갈리고 3=7같은 괴랄한 코드가 만들어 질 수 있다.

* **reserved keywords (예약어)**
  - python에서 미리 선점하여 사용중인 용어
  - 변수, 함수, 클래스 등등의 사용자 정의 이름으로 사용할 수 없음

In [17]:
class = 3
return = 5
for = 4 
if = 5
while = 0
def = 11
try = 12
except = 13
finally = 15
with = 16

3

In [19]:
#내장함수는 초록색(내장함수(예약어)라도)이어도 변수로 쓸 수 있는데(키워드는 아니다), 이때는 내장함수를 쓰지 못한다.
sum = 10
sum([1,2,3,4])

TypeError: 'int' object is not callable

* **check variable type (변수 타입) **
  - 정수 (int)
  - 실수 (float)
  - 문자열 (str)
  - 불리언 (boolean)

In [20]:
print(a)
print(type(a))
print()

print(c)
print(type(c))
print()

print(d)
print(type(d))
print()

print(e)
print(type(e))
print()

4
<class 'int'>

12.677
<class 'float'>

this is python
<class 'str'>

True
<class 'bool'>

* **None**
 - 아무런 값을 갖지 않을 때 사용
 - 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
 - 기타 언어의 NULL, nil등과 같은 의미로 사용

In [24]:
a = None
print(a)
type(a)

None

NoneType

* **comparison operator(비교 연산자)** 
  - 프로그래밍에서는 비교를 할 경우, = 대신 **==**를 사용
  - <, > (크기 비교에서 사용가능)
  - <=, >= (작거나 같음, 크거나 같음)
  - 비교 연산자의 결과는 불리언(참, 거짓) 타입

In [25]:
print(5 > 3)
print(5 == 3 + 2)
print(3 >= 2)

print(2 ** 20 == 10  ** 6)

a = 10
b = 20

c = a == b
print(c)

c = a!= b
print(c)

True
True
True
False
False
True

* **numbers (숫자형 타입)**
 - 정수, 실수로 구성
 - 수학의 기본 연산자(가감승제) 사용 가능

In [26]:
print(17 + 5) # 덧셈
print(17 - 5) # 뺄셈
print(17 * 5) # 곱셈

print(17 / 5)  # 나눗셈
print(17 // 5) # 나눗셈(몫만 출력)
print(17 % 5) # 나머지

print(4 ** 3) # power

22
12
85
3.4
3
2
64

* **operation on variable(변수 연산)**
 - 위의 예처럼, 상수(constant)가 아닌 변수에 값을 대입하여 해당 변수를 가지고 연산 가능

In [33]:
a = 14
b = 25

print(a + b + b - a * b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

-286
-11
350
0.56
0
14

* **shift operator(쉬프트 연산자)** 
 - 비트를 왼쪽 혹은 오른쪽으로 이동

In [28]:
1 << 3

8

In [29]:
14 >> 2

3

* **연습문제**
 1. 아래 연산의 결과는?
 2. 2^32을 각각 시프트 연산자와 거듭제곱 연산자를 사용하여 계산하시오

In [34]:
a = 0
print(5 / a)

ZeroDivisionError: division by zero

In [36]:
2 ** 32

4294967296

In [35]:
1 << 32

4294967296

* **operator priorities (연산자 우선순위)**
  - 기본적인 수학의 연산자와 동일
  - 강제로 연산을 선수하기 위해선, 괄호()를 사용

In [37]:
print (3 + 5 * 4)
print ((3 + 5) * 4)

23
32

*  **연습문제** 다음의 각 a값을 출력 했을 때 결과는?

In [38]:
a = 9
print (a)
print (a - 3)
print (a)

9
6
9

* **expression evaluation & assignment (식평가 & 대입)**

In [ ]:
a = 9
temp = a - 3
a = temp # 대입 발생
a

In [ ]:
a = 9
a = a - 3
a

In [ ]:
a = 9
a -= 3
a

In [ ]:
a = 9
#a = a - 3
a -= 3
a

In [39]:
a = 10
a *= 2
print(a)

a **= 3
print(a)

a += 10 + 30
print(a)

20
8000
8040

* **연습문제**
  1. 초기값 a 는 10 일 때, a에 2를 곱하여 다시 a에 저장한 뒤, 그것을 다시 3제곱 구하여 다시 a에 저장하시오
  2. a와 b에 각각 30, 20이 저장되어 있습니다. 이것을 swap(서로 값을 교체) 하시오
  3. 영희는 학교에서 집까지 걸어서 등교합니다. 학교에서 집까지의 거리가 2km, 걸리는 시간이 15분이라고 할때,
  영희의 초속은(m/s)?

In [62]:
a=10
a*=2
a**=3
print(a)

8000

In [ ]:
#locals() : 지금까지 사용한 모든 변수 출력
#변수 앞 일부분 작성 후 tab키 누르면 변수들 목록 뜸

In [82]:
a=20;b=30
print("ori :\t",a,b)

a-=b
b+=a
a=b-a
print("2var :\t",a,b)

a, b = b, a
print("synt :\t",a,b)

tmp=a
a=b
b=tmp
print("tmp :\t",a,b)

swap = (a, b)
swap = (b, a)
print("tuple :\t",swap[0],swap[1])

ori :	 20 30
2var :	 30 20
synt :	 20 30
tmp :	 30 20
tuple :	 20 30

In [40]:
print(2*1000 / (15*60))

2.2222222222222223

* **type conversion (형변환)**
  - 몇몇 타입끼리는 서로 변환이 가능함
  - bool <-> int
  - int <-> float
  - int <-> string (일부 가능)

In [84]:
print(int(True))
print(int(False))

1
0

In [97]:
print(int(98.4432))
print(int('-23'))

print(float(98))
print(str(98))

#ord(variable) : ascii 값

98
-23
98.0
98

In [86]:
# 변환되지 않음
print(int('python'))

ValueError: invalid literal for int() with base 10: 'python'

* **package import (패키지 임포트)**
 - python에는 많은 package들이 존재
 - package를 사용하려면 코드에서 그것을 불러와야함(import)
 - import [모듈명] 로 불러오기 가능

In [ ]:
import math # math package

In [87]:
import math

print(math.pi)
print(math.e)

print(math.log(math.e))

3.141592653589793
2.718281828459045
1.0

In [88]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

* **string (문자열)**
 - 복수개의 문자를 순서대로 나열 한 것
 - 문자열은 '(작은따옴표) 혹은 "(큰따옴표) 사이에 문자를 넣어서 생성
 - 문자열 자체에 ', "가 있는 경우에는 각각 그 반대의 기호로 생성

* **''' '''사용하여 표현 가능**
  - 차이점 
    - '', "" -> 한줄 문자열 표현
    - ''' ''' -> 어려줄에 걸쳐 문자열 표현 가능

In [ ]:
print('python')

print("python")

print("I'm a boy")

print('''python''')
print("""python""")

In [90]:
a = "Hello Hi"
a[-1]

'i'

In [91]:
a = 'This is a long string 
and enter is in it'

a

'This is a long string and enter is in it'

In [92]:
a = '''This is a 
long long string
string string'''

print(a)

This is a
long long string
string string

* **string conversion (문자열 변환)**

In [95]:
del str #변수지우기

In [96]:
print (str(98.4), type(str(98.4)))

98.4 <class 'str'>

#### escape string (이스케이프 문자)
* 문자열내의 일부 문자의 의미를 달리하여 `특정한 효과`를 주는 것
* `\n` : new line `\t` : tab 등등

In [99]:
a = 100
str1 = 'The value is \t100\nThis is python'
# r'The value is \t100\nThis is python' => 그냥 그대로 출력

print (str1)

The value is 	100
This is python

In [ ]:
print('Hello' + ' World')
print(type('Hello'))

* **연습문제** str2의 값은 무엇일까요?

In [102]:
str2 = 'Ha' * 4 + 'Ho'
str2

'HaHaHaHaHo'

In [103]:
print(a)
print('-'*5)
print(b)

100
-----
20

* **indexing & slicing string (문자열 인덱스 및 추출)**
  - 문자열의 각 문자는 순서가 있음
  - 이때 각 문자열의 순서를 **인덱스** 라고 함
  - 첫번째 문자부터 마지막까지 차례대로의 순서를 가짐
  - 첫번째 시작문자의 순서는 0으로 시작 (1이 아님)

* **연습문제**
문자열의 마지막 문자의 순서의 값은?

In [104]:
a = '123456789abcd'

print(a[0])
print(a[10])

1
b

* **-1 인덱스**
  - 다른 언어와는 달리, python의 경우 음수 인덱스를 지원
  - -1이 가장 마지막 인덱스를, -2가 마지막에서 두번째 인덱스를 의미...

In [105]:
print(a[-1])
print(a[-3])

d
b

In [111]:
del len
a[len(a)-1]

'd'

* **인덱스의 범위**
  - 인덱스는 [0, 문자열의 길이) 의 범위만 유효
  - 음수 인덱스를 사용할 경우, [-문자열의 길이, -1]
  - 범위를 넘어갈 경우 에러 발생

In [ ]:
print(a[13])
print(a[-14])

* **문자열 slicing**
  - 인덱스가 하나의 문자만을 추출한다면,
  - slicing은 부분 문자열을 추출한다고 볼 수 있음
  - [시작:끝]와 같이 명시하여 [시작, 끝)에 해당하는 부분 문자열을 추출
  - 시작, 끝 인덱스가 생략이 되어 있다면, 0부터 혹은 끝까지로 간주

In [131]:
letters = '123456789abcd'

print(letters[0:1])
print(letters[3:])
print(letters[:4])
print(letters[0:0])

letters

1
456789abcd
1234

'123456789abcd'

* **문자열 함수**
  - 문자열은 여러가지 기능 제공을 위한 함수를 내장
  - 함수란 특정 기능을 하는 코드로 언제든지 호출하여 해당 기능을 사용 가능하도록 구성한 코드
  - 추후에 함수에 대해 자세히 다룰 예정

In [134]:
a = "hello"
print (len(a)) # 길이 반환

print (a.replace('h', 'p')) # 문자 대체
print(a)
print (a.upper()) # 대문자 변환
print(a)
print (a.lower()) # 소문자 변환
print(a)

5
pello
hello
HELLO
hello
hello
hello

#### 연습문제
1. 1주일은 몇초 입니까?
2. 구구단 7단을 계산하여 답을 순서대로 출력하시오
3. 1에서 11까지의 합을 구하시오
4. 우사인 볼트는 100m를 9.5초에 뛰었습니다. 이때 우사인 볼트의 평균 시속은 몇km인가요?
5. 반지름이 10cm인 원의 넓이와 둘레를 출력하세요. 
6. 3^70과 2^100 중 큰 수는?
7. 2^20이 3^x 보다 크게 되기 위한 x의 최대값은?
8. x^2 - 5x + 4의 해는 4또는 5입니다. 해가 맞는지 검증해보세요.

In [135]:
print("Seconds in a week :", 7*24*60*60)

Seconds in a week : 604800

In [136]:
print("1 x 7 =", 1*7)
print("2 x 7 =", 2*7)
print("3 x 7 =", 3*7)
print("4 x 7 =", 4*7)
print("5 x 7 =", 5*7)
print("6 x 7 =", 6*7)
print("7 x 7 =", 7*7)
print("8 x 7 =", 8*7)
print("9 x 7 =", 9*7)

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63

In [138]:
print(1+2+3+4+5+6+7+8+9+10+11)
print(11*(11+1)/2)

66
66.0

In [157]:
print(100/1000/(9.5/3600))

distance_km = 100/1000
time_h = 9.5 / 3600
print(distance_km/time_h)

37.89473684210527
37.89473684210527

In [160]:
print("area :", math.pi*10**2,"cm^2")
print("perimeter :", math.pi*10*2,"cm")

area : 314.1592653589793 cm^2
perimeter : 62.83185307179586 cm

In [146]:
print("3^70 is", "not"*(3**70 > 2**100), "smaller")

3^70 is not smaller

In [152]:
print(2**20, 3**13) # x=>12

1048576 1594323

In [155]:
from math import sqrt
print("x^2-5x+4의 해는 4 이다.", 4**2-5*4+4==0)
print("x^2-5x+4의 해는 5 이다.", 5**2-5*5+5==0)
sol1 = (5+sqrt(5**2-4*1*4))/(2*1)
sol2 = (5-sqrt(5**2-4*1*4))/(2*1)
print(sol1, sol2)

x^2-5x+4의 해는 4 이다. True
x^2-5x+4의 해는 5 이다. False
4.0 1.0