# Data Science & Python

## 학습목표
 1. list, tuple, dictionary, set에 대해 이해 및 실습

## List, Tuple, Dictionary, Set

+ **list & tuple**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

* **리스트 생성**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

In [ ]:
a = [1, 2, 3, 5, 2, 1, 1, 2]
print(a, type(a))

In [ ]:
empty_list = []
print (empty_list)

#타입 관계없이 섞어서 넣을 수 있다(리스트 안에 리스트도) ['Aaron', 1, 1.25, 'David', 'Bill', 'Michael', 'John']
first_names = ['Aaron', 'David', 'Bill', 'Michael', 'John']
print(first_names)

nums = [1, 4, 5, 3]
print(nums)

In [ ]:
empty_list2 = list() # []
print(empty_list2)

+ **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [1]:
cat = 'cat'
print(list(cat))

test_tuple = ('Monday', 'Tuesday', 'Wednesday')
print(type(test_tuple))
print(list(test_tuple), type(list(test_tuple)))

['c', 'a', 't']
<class 'tuple'>
['Monday', 'Tuesday', 'Wednesday'] <class 'list'>

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [ ]:
a = '1986/03/20'
result = a.split('/')
print(result)

python_str = 'python is easy to learn'
print(python_str.split())

In [2]:
a = 'a/b//c/d///e'

print(a.split('/'))
print(a.split('//'))

['a', 'b', '', 'c', 'd', '', '', 'e']
['a/b', 'c/d', '/e']

+ **indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [3]:
years = ['1988', '1989', '2013', '2016', '2019']
print(years[0])
print(years[1])
print(years[2])

# 마지막 원소에 대한 접근 
print(years[len(years) - 1])
print(years[-1])

# 예외 발생 (index가 bound를 넘어감)
print(years[5])

1988
1989
2013
2019
2019

IndexError: list index out of range

* **연습문제**
years[0][1]의 값은?

In [4]:
years[0][1]

'9'

* **multiple indexing** 
 - []연산자의 경우 이어서 계속 적용 가능

In [5]:
seoul = ['sinsa', 'gangnam', 'jongro']
gyeonggi = ['pangyo', 'gwacheon', 'guri', 1, 2, 100]
jeju = ['seogwipo', 123.3]

korea = [seoul, gyeonggi, jeju, 'pyungchang']

world = [korea, 1, 2, 3]

print(korea[1][3]) #1
print(korea[1][2][2]) #r
print(world[0][0][0][-1]) #a

1
r
a

* **인덱스 값 할당**
 - 인덱스에 접근하여 값을 업데이트 가능

In [6]:
print(years[1])
years[1] = '1986'
print(years)

1989
['1988', '1986', '2013', '2016', '2019']

In [7]:
#str is immutable
a = 'python is good'
a = a.replace('p','P')
#or
a = 'Python is good'
# it can't
# a[0] = 'P'

* **list slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [ ]:
print(years[1:])
print(years[2:4])
print(years[2:-1])
print(years[:3])
print(years[2:2])
print(years[:])

* **연습문제**
years 리스트에서 두번째 원소를 제거해 보세요

In [10]:
print(years)
print(years[:1]+years[2:]) #n번째 원소 지우기 : [:n-1]+[n:]

['1988', '1986', '2013', '2016', '2019']
['1988', '2013', '2016', '2019']

### list 멤버 함수

* **append()**
 + 리스트의 끝에 항목을 추가함

In [ ]:
a = [1, 2, 3, 4]
b = [1]

a.append(5)
b.append(3)

print(a)
print(b)

# b가 리스트 이므로 리스트 자체가 추가 됨
a.append(b) #shift+tap?
print(a)

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [11]:
a = [1, 2, 3, 4]
b = [10, 20, 30, 40]

#a.append(b)
a.extend(b)

print(a)
print(b)

b += a

print(b)

[1, 2, 3, 4, 10, 20, 30, 40]
[10, 20, 30, 40]
[10, 20, 30, 40, 1, 2, 3, 4, 10, 20, 30, 40]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [12]:
a = [1, 2, 4, 5, 10]
a.insert(2, 3) #(idx,value)
print(a)

[1, 2, 3, 4, 5, 10]

+ **아이템 삭제**
 * del 키워드 사용 
   - 인덱스로 삭제 가능

In [13]:
a = [9, 1, 2, 3, 4, 5, 10, 100]
print(a)

del a[-1] # python 구문 (할당연산자인 = 와 반대 역할을 함)
del a[0]

print(a)

[9, 1, 2, 3, 4, 5, 10, 100]
[1, 2, 3, 4, 5, 10]

+ **remove()**
 * 값으로 항목 삭제

In [15]:
a = [1, 2, 1, 3, 4, 5]
print(a)
a.remove(1) # 첫번째로 매칭되는 값만 삭제
print(a)

# 삭제할 아이템이 없으면 에러
#a.remove(88)
a.remove()
print(a)

[1, 2, 1, 3, 4, 5]
[2, 1, 3, 4, 5]

TypeError: remove() takes exactly one argument (0 given)

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [16]:
a = [1, 2, 1, 3, 4, 5]
a.remove(1)

b = a.pop() # 기본적으로 가장 마지막 값을 삭제
print(b)
print(a)

print(a.pop(0))
print(a)

5
[2, 1, 3, 4]
2
[1, 3, 4]

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [17]:
a = [1, 2, 1, 3, 4, 5]

print(a.index(1))
print(a.index(1, 1))
print(a.index(1, 1, 2))

0
2

ValueError: 1 is not in list

* **in**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [ ]:
years = ['1988', '1989', '2013', '2016', '2019', '2019']

print('19888' in years)
print('1989' in years)
print(1989 in years)

* **count()**
 + 리스트 내에 해당 값의 카운트

In [ ]:
print(years.count('19888'))
print(years.count('1988'))
print(years.count('2019'))

* **join()**
 + 리스트의 원소를 구분자를 이용하여 문자열로 합친다
 + join은 string의 함수이다
 + list의 split() 함수와 반대의 작업을 함

In [19]:
a = 'python is good'
print(a.split())
print(a)

['python', 'is', 'good']
python is good

In [18]:
birth_date_components = ['1986', '03', '20']
print('/'.join(birth_date_components))
print(birth_date_components)

1986/03/20
['1986', '03', '20']

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬 (멤버함수)
 + sorted() -> 리스트의 정렬된 복사본을 반환 (내장함수)

In [21]:
#오름차순 - 작은거부터 
#내림차순 - 큰거부터

a = [9, 8, 1, 2, 7, 5, 6, 3, 4]
a.sort(reverse=True)

print (a)

a = [9, 8, 1, 2, 7, 5, 6, 3, 4]

b = sorted(a, reverse=True)
print (b)
print (a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 1, 2, 7, 5, 6, 3, 4]

* **리스트의 대입 및 복사 =, [:]**
 + = -> 할당, a와 b가 같은 리스트를 가리킴
 + [:] -> 복사, a와 b가 다른 리스트를 가리킴

In [22]:
a = 30
b = a

In [28]:
a = [1, 2, 3, 4]

b = a

print (a)
print (b)
print ('-' * 20)

a[0] = 22

print (a)
print (b)

# copy
b = a[:] #메모리에 a를 다시 복사하여 새로운 주소를 b에 할당
#or
#b = list(a)

a[0] = 24
print (a)
print (b)

#value type(int, float, boll...) vs ref type(dict, list, str...)
#a=30;b=a => value copy
#a=[1,2,3,4];b=a => adress copy
#a=1000, 1000:[1,2,3,4]
#b=a => b=1000

[1, 2, 3, 4]
[1, 2, 3, 4]
--------------------
[22, 2, 3, 4]
[22, 2, 3, 4]
[24, 2, 3, 4]
[22, 2, 3, 4]

* **list 연습문제**
 1. 리스트가 주어졌을 때, 처음과 마지막 원소만 갖는 리스트로 변환하시오. [1, 2, 3] -> [1, 3], [2, 3, 4, 5] -> [2, 5]  
 2. 리스트가 주어졌을 때, 임의의 두 원소의 합의 최대값을 구하시오. [1, 9, 7, 8, 2, 5, 11]

In [30]:
lst = [2,3,4,5]
lst2 = []
lst2.append(lst[0])
lst2.append(lst[-1])
print(lst2)

[2, 5]

In [29]:
lst = [1,9,7,8,2,5,11]
max1 = max(lst)
lst.remove(max1)
max2 = max(lst)
print(max1+max2)

20

+ **tuple**

In [ ]:
empty_tuple = ()
print(empty_tuple)

one_tuple = 'aaron',
another_tuple = ('aaron2',)

print(one_tuple)
print(another_tuple)

more_tuple = ('a', 'b', 'c')
print(more_tuple)

* **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [ ]:
a, b, c = 1, 2, 3
print(a, b, c)


a = 5
b = 4

a = 4
b = 5

* **quiz2)** a와 b의 값을 교환하시오

In [ ]:
a = 10
b = 20

* **tuple()**
 + 다른 객체를 튜플로 변경

In [ ]:
print(tuple([1, 2, 3, 4])
print tuple('1234')

+ **why tuple?**
1. 더 적은 메모리 사용
2. immutable(불변)이기 때문에, 실수로 값이 바뀌지 않음 등등

* tuple 연습문제

 1. 임의의 이메일 주소를 받아서 사용자 아이다와 도메인을 각각 추출 후, 출력하시오
e.g) apple@google.com을 사용자명(apple)과 도메인(google.com)으로 분리

In [ ]:
a = 'macmath22@gmail.com'

* **dictionary**
 + 키와 값을 갖는 data structure
 + 키는 해쉬값으로 저장됨 
  - 해당 키에 따른 값에 접근 시, O(1) 시간으로 접근
 + 순서를 따지지 않음. 즉, 인덱스가 없음

In [ ]:
empty_dict = {}
print(empty_dict)

dict1 = {'python' : 'best', 'java' : 'good', 'c++' : 'better'}
print(dict1)

In [ ]:
dict2 = {}

dict2['python'] = 'best'
dict2['java'] = 'good'
dict2['python'] = 'best222'

print(dict2)

* **dict()**
 + dictionary로 변환.
 + 두값으로 이루어진 시퀀스를 변환 가능. 첫번째 항목이 key, 두번째 항목이 value로 사용됨

In [ ]:
a = [[1, 2], [2, 3], [3, 6]]
print(dict(a))

a = [(1, 2), (2, 3), (3, 6)]
print(dict(a))

a = ((1, 2), (2, 3), (3, 6))
print(dict(a))

+ **항목 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트
 - 존재하지 않으면, 새로운 키, 값 생성

In [ ]:
dict1 = {'python' : 'best', 'java' : 'good', 'c++' : 'better'}
dict1['go'] = 'gogogo'
dict1['java'] = 'soso'

dict1

+ **update()**
 * 두 딕셔너리를 병합함
 * 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [ ]:
dict1 = {'python' : 'best', 'java' : 'good', 'c++' : 'better'}
dict2 = {'ruby' : 'elegant', 'javascript' : 'too much', 'java' : 'soso'}

dict1.update(dict2)
print(dict1)
print(dict2)

* **key삭제**
 - del 키워드 사용

In [ ]:
del dict1['java']
del dict1['jasa']

* **clear()**
 + 딕셔너리의 모든 값을 초기화

In [ ]:
a = {1 : 2, 2: 4, 4 : 5}
print(a)

a.clear()

print(a)

* **in**
 + key값 존재 확인
 + O(1) 연산

In [ ]:
a = {'1' : 2, '2': 4, '4' : 5}
print(1 in a)
print(a['1'])
print(a[1])

* **value access**
 + dict[key]로 접급, 키가 없는 경우 에러 발생 
 + .get() 함수로 접근, 키가 없는 경우 None반환

In [ ]:
a = {'1' : 2, '2': 4, '4' : 5}

print(a['1'])
print(a['3'])

In [ ]:
print(a.get('1'))

print(a.get('3', 'default'))
print(a.get('3'))

* **모든 keys, values 접근**
 + keys()
 + values()
* **key-value 튜플 리스트로 반환**
 + items()

In [ ]:
signals = {'green' : 'fly', 'yellow' : 'go faster', 'red' : 'stop'}

keys = signals.keys()
values = signals.values()

print(keys)
print(values)

In [ ]:
signals.items()

* **dictionary 연습문제**
 1. a = {11 : 3, 4 : 9, 14 : 22, 21 : 20, 5 : 8, 2 : 23} 에서 키의 최소값에 대응하는 값과, 키의 최대값에 대응하는 값을 출력하시오
 2. 주어진 dictionary를 가지고, 다음 문장을 번역 하시오. translator = {'This' : 'Este', 'is' : 'es', 'python' : 'piton'}

    "This is python"

In [ ]:
translator = {'This' : 'Este', 'is' : 'es', 'python' : 'piton'}

str1 = 'This is python'

* **set**
 + dictionary에서 key만 남은 케이스
 + 수학에서의 집합과 동일함

In [ ]:
empty_set = set()
print(empty_set)

even_nums = {2, 4, 6, 8}
print(even_nums)

odd_nums = {1, 3, 5, 7, 7, 9}
print(odd_nums)

* **set()으로 집합으로 변환**

In [ ]:
print set('mississippi')
print set([1, 2, 3, 1, 2, 3, 1, 3, 4])
print set({1 : 2, 4 : 9, 3 : 8})


a = [1, 2, 3, 1, 2, 3, 1, 3, 4]

list(set(a))

+ **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [ ]:
a = {1, 2}
b = {2, 3, 4}

print(a.intersection(b))
print(a & b)

print(a.union(b))
print(a | b)

print(a.difference(b))
print(a - b)

print(a.symmetric_difference(b)) # 양쪽 모두에 들어있지 않은 멤버
print(a ^ b)

print(a.issubset(b))
print(a <= b) #부분 집합

* **set 연습문제**
 1. 영어 수업을 듣는 학생 집합 : {'Aaron', 'Tracy', 'David', 'Grant', 'Michael', 'Tim'}
    수학 수업을 듣는 학생 집합 : {'Aaron', 'David', 'Smith', 'Bill', 'Tim', 'Cathy', 'Carl'}
    
    이라고 할 때, 전체 학생 중 두과목 모두 듣는 학생의 비율은 얼마인가?

In [ ]:
a = {'Aaron', 'Tracy', 'David', 'Grant', 'Michael', 'Tim'} 
b = {'Aaron', 'David', 'Smith', 'Bill', 'Tim', 'Cathy', 'Carl'}

x = len(a & b)
y = len(a | b)

print(x / y)

* **과제** 
 1. 14577을 소인수 분해 하시오.
 2. 2^28와 근사값으로 계산한 2^28의 차이를 구하시오.
 3. 다음과 같이 출력되도록 구구단 프로그램을 작성하시오.
    
> 2 * 1 = 2

> 2 * 2 = 4

>    ...

>    3 * 1 = 3

>    ...

>    9 * 8 = 72

>    9 * 9 = 81